body {
  margin: 1%;
  background: grey;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 150%;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
 .header {
  background: darkblue;
  display: flex;
  }
footer {
  height: 10%;
  background: mediumblue;
}
.flex-outer {
  display: flex;
  height: 80%;
}
.outer-right {
  flex: 1;
  background: dodgerblue;
}
.flex-inner {
  display: flex;
  flex: 2;
  flex-direction: column;
}
.inner-title {
  background: seagreen;
  flex: 0 1 20%;
  align-self: center;
  width: 100%;
}
.flex-inner-columns {
  display: inline-flex;
  flex: 1;
}
.column-left {
  flex: 1;
  background: mediumseagreen;
  order: 1;
}
.column-right {
  flex: 1;
  background: mediumaquamarine;
  order: 3;
}
.column-middle {
  flex: 1;
  background: #2DAF82;
  order: 2;
}
.flex-inner-rows {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 15%;
  margin-top: 30%;
  padding: 10%;
  }
.row1 {
  flex: 1;
  background: #F06515;
  order: 1;
}
.row2 {
  flex: 1;
  background: #F78D14;
  order: 2;
}
.row3 {
  flex: 1;
  background:#F06515;
  order: 3;
}
.h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#sun {
  width: 10%;
  height: 10%;

  
}
#cloud {
  width: 10%;
  height: 10%;
 

    
  
}
#clock {
  width: 10%;
  height: 10%;

 
  
}