/*others*/
	@font-face{
		font-family: "1stfont";
			src: url("../fonts/BerkshireSwash-Regular.ttf");
	}
	@font-face {
		font-family: "2ndfont";
			src: url("../fonts/MrBedfort-Regular.ttf");
	}
	* {
		margin: 0px;
		margin-right: 2px;
		
	}
/*main body*/
	body {
		background-image: url("../img/fondo.jpg");
		width:100%;
		height:100%;
		background-repeat: none;
	}
	#general{
		width: 98%;
		overflow: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

/*top*/
	#top {
		width: 100%;
		height: 25%;
		display:flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		overflow: hidden;
		float: left;
	}
	h1 {
		font-family: "1stfont";
		color: white;
	}
	#tittle {
		width: 100%;
		height: 20%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		overflow: hidden;
		margin-bottom: 10px;
	}
	
/*aside*/
	#aside{
		width:20%;
		float: left;
		height:100%;
		margin-top:10px;

	}
	#dp {
		
		height:30%;
		border: white 1px ridge;
		border-radius: 5px;
		margin-bottom: 10px; 
		text-align: center;
	}
	#dp > ul {
		margin-top:10px;
		list-style: none;
		text-decoration: none;
	}
	#login{
		padding: 5px;
		border: white 1px ridge;
		border-radius: 5px;
		height:48%;
		text-align:center;
	}
	input {
		max-width: 98%;
	}
	form {
		max-width: 100%;
		width: 100%;
	}
	h3 {
		color:white;
	}
	h4 {
		color: red;
	}
	li > a {
		text-decoration: none;
		color: white;
	}
	li > a:visited {
		text-decoration: none;
		color: white;
	}
/*center*/
	#center {
		width:70%;
		float:right;
		height: 55%;
		margin-left: 10px;
		margin-top:10px;
	}

/*menu*/
	/* The navbar container */
		nav {
    		overflow: hidden;
			background-color: #333;
			width: 100%;
			display: flex;
			flex-direction: row;
			float: left;
			height: 10%;
			font-family: "2ndfont";
			font-size: 20px;
		}

	/* Navbar links */
		nav a {
    		color: #f2f2f2;
    		text-align: center;
    		padding: 14px 16px;
			text-decoration: none;
			
		}
		nav {
			display: flex;	
			justify-content: center;
		}
		nav > li{
			list-style: none;	
		}
/*footer*/


		footer {
			height: 3%;
			width: 100%;
			background-color: white;
			text-align: center;		
			margin-top: 5px;
			bottom: 0;
			left:0;
			width: 100%;
			position: fixed;
		}

/*flex-col*/	
	.flex-grid {
		display: flex;
		flex-wrap: wrap;
		/*border: 5px ridge green;*/
		border-radius: 10px;
		justify-content: space-between;
 	}
  	.col {
		margin:5px;
		flex: 1;
		/*border: 2px solid red;*/
		color: white;
		font-family: "2ndfont"
	  }	
	  

