
body {
    font: 24px Helvetica;
    background: #EAEAAE;
}

#main {
    min-height: 800px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
}

#main > article {
    margin: 4px;
    padding: 5px;
    border-radius: 7pt;
    background: #E6E8FA;
    flex: 3 1 60%;
    order: 3;
}

nav {
    background: #99CC32;
    padding: 0.6%;
    border: 1px solid black;
    flex: 1 6 20%;
    order: 1;
}

#main > aside {
    margin: 4px;
    padding: 5px;
    border-radius: 7pt;
    background: #E6E8FA;
    flex: 1 6 20%;
    order: 2;
    height: 25%;
}

header{
    display: block;
    margin: 4px;
    padding: 5px;
    min-height: 100px;
    border: 1px solid black;
    border-radius: 7pt;
    background: white;
}
#container{
    border: 3px solid black;
    border-radius: 10px 10px 10px 10px;
    background: #D9D9F3;
}






/* Too narrow to support three columns */
@media all and (max-width: 800px) {
    #main, #page {
        flex-direction: column;
    }

    #main > article, #main > nav, #main > aside {
    /* Return them to document order */
        order: 0;
    }
     nav{
        order: 1;
       
    }
    #main > article{
        order: 2;
    }
    #main > aside{
        order: 3;
    }
    
    
    #main > footer{
        order: 5;
    }

     #main > aside, header, footer, div {
        min-height: 100px;
        max-height: 1000px;
    }
    nav{
        min-height: 100px;
        max-height: 1000px;
        flex-direction: column;

    }
    #container{
        min-height: 100px;
        max-height: 2000px;
    }
}
 
#irudia{
    width: 100%;
    height: 15%;
    border-radius: 5px 5px 5px 5px;
}
.ak{
    border: 1px solid green;
    border-radius: 20pt;
    background: white;
    margin: 6%;
    padding: 0.4%;
    
    
   
}
a, hover{
    color: black;
    padding: 0.4%;
    
}
footer{
    text-align: center;
}
.marra{
    border: 2px solid #00FF00;
    width: 100%;
}
#logo1{
float: left;
width: 10%;
height: auto;

}
#logo2{
    float: left;
    width: 10%;
    height: auto;
}
.galeria{
    width: 10%;
    height: 10%;
    float: left;
    margin-left: 5%;
    opacity: 0.25;
    
}
#kaxa{
border-radius: 7pt;
float: right;
margin-top: -250px;
background: #FF7F00;
width: 40%;
margin-right: 40%;



}
.kaxak{
    width: 20%;
    height: 15%;
    margin-left: 5px;
    border: 1.5px solid white;
    margin-top: 5px;
    
    
}




