body{
    width: 80%;
    margin-left: 10%;
    height: auto;
    border: 1px solid black;
    box-shadow: 5px 5px 5px;
    border-radius: 10px 10px 10px;
    
}

header{
    height: 195px;
    border: 1px solid;
    background-image: url("img/banner_huerta.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;;
}
#leftlogo{
    width: 50%;
    height: auto;
    margin-top: 2%;
    margin-left: -80%;
    
    
    
    
}
@font-face {
    font-family: malandrin;
    src: url("fonts/malandrin.ttf");
}
#title{
    margin-top: -8%;
    font-family: malandrin;
    font-size: 2vw;
    
    

}
#rightlogo{
    width: 50%;
    height: auto;
    margin-right: -60%;
    margin-top: -8%;
   
    

}
nav{
    background-color: green;
    height: 40px;


}
nav ul{
    
    
    
}
nav ul li{
    list-style: none;
    display: inline;
    border-radius: 5px 5px 5px;
    background-color:#E6E8FA;
    padding-right: 3%;
    padding-left: 3%;
    margin-left: 1%;
    margin-right: 1%;
    

}
nav ul li a:hover{
    font-style: italic;
}
#left{
    margin-top: 4%;
    width: 100%;
}
.left1{
    margin-left: -85%;
    background-color: #E6E8FA;
    border-top: 3px solid green;
    width: 15%;
}
section{
    margin-left: 20%;
    margin-top: -23%;
    width: 70%;
    
}
section article{
    border-top: 3px solid green;
    justify-content: flex-start;
}
section article ul li{
    display: inline;
    
    height: auto;
}
#list{

     }
footer{
    margin-top: 10%;

}


.images{
        display: flex;
        flex-wrap: wrap;
        width: 65%;
        border: 1px solid black;
        border-radius: 10px 10px 10px;
        margin-left: 30%;
        margin-top: -20%;
        padding: 2%;
        background-color: orange;
        
}
.images div{
    border:3px solid white;
}
div{
    margin: 1%;
}
#list{
    margin-left: -60%;
    margin-top: 5%;
}

.images div {
    
    width: 200px;
    
    
    
  }
  h1{color: green;
margin-left: -70%;}
  h2{color:green;}
  #opasity{
       opacity:0.25 ;
       margin-left: 5%;
       margin-right: 5%;
  }
  #opasity hover{
    opacity: 1;
  }
  #title h2{
      color: white;
      
  }
  #tomate{
      margin-left: -60%;
    
  }
  article p{
      text-align: justify;
      width: 60%;
      margin-left: 35%;
      margin-top: -10%;
  }
  p{
      font-size: 1vw;
  }